<div class="row clearfix changePasswordPage" [@routerTransition]>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card main-content">
      <div class="header">
        <h2>{{ "UpdatePassword" | localize }}</h2>
      </div>
      <div class="formControls">
        <div class="container">
          <form novalidate (ngSubmit)="updatePassword(parentFormGroup.value)">
            <div class="formControlers" [formGroup]="parentFormGroup">
              <mat-form-field>
                <input
                  matInput
                  id="currentPassword"
                  type="password"
                  name="CurrentPassword"
                  formControlName="currentPassword"
                  [placeholder]="'CurrentPassword' | localize"
                  required
                  maxlength="32"
                />
                <mat-error
                  *ngIf="
                    parentFormGroup.controls.currentPassword.errors?.required
                  "
                >
                  {{ "ThisFieldRequired" | localize }}
                </mat-error>
              </mat-form-field>
              <mat-form-field
                [formGroup]="passwordsFormGroup"
                formGroupName="passwords"
              >
                <input
                  matInput
                  id="newPassword"
                  formControlName="newPassword"
                  type="password"
                  name="NewPassword"
                  [placeholder]="'NewPassword' | localize"
                  required
                  maxlength="32"
                />
                <mat-error
                  *ngIf="
                    passwordsFormGroup.controls.newPassword.errors?.required &&
                    passwordsFormGroup.controls.newPassword.touched
                  "
                >
                  {{ "ThisFieldRequired" | localize }}
                </mat-error>
                <!-- <mat-error
                  *ngIf="
                    passwordsFormGroup.controls.newPassword.errors?.pattern &&
                    passwordsFormGroup.controls.newPassword.touched
                  "
                >
                  {{
                    "PasswordsMustBeAtLeast8CharactersContainLowercaseUppercaseNumber"
                      | localize
                  }}
                </mat-error> -->
              </mat-form-field>
              <mat-form-field
                [formGroup]="passwordsFormGroup"
                formGroupName="passwords"
              >
                <input
                  matInput
                  id="repeatNewPassword"
                  formControlName="repeatNewPassword"
                  type="password"
                  name="RepeatNewPassword"
                  [placeholder]="'ConfirmNewPassword' | localize"
                  [errorStateMatcher]="equalMatcher"
                  required
                  maxlength="32"
                />

                <mat-error
                  *ngIf="
                    passwordsFormGroup.errors &&
                    passwordsFormGroup.errors.areEqual &&
                    passwordsFormGroup.controls.newPassword.touched
                  "
                >
                  {{ "PasswordsDoNotMatch" | localize }}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="text-align-center containerbtn">
              <button
                mat-flat-button
                type="submit"
                flex="15"
                color="primary"
                [disabled]="!parentFormGroup.valid || isLoading"
              >
                {{ "Save" | localize }}
                <i class="fa fa-spin fa-spinner" *ngIf="isLoading"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
