<div class="container-dashboard container-customize-admin">
  <div class="title-page">
      <h2 class="color-Jade">{{ 'RegisterDriver' |localize }}</h2>
  </div>
  <div class="header-admin-body">
      <div class="breadcrumb">
          <p-breadcrumb [model]="items"></p-breadcrumb>
      </div>
  </div>
  
  <div class="body-dashboard">
      <div class="row row-newReaserch">
          <div class="section-dashboard-right col-lg-12 col-sm-12 col-12">
              <div class="body-section-dashboard-right">
                  <div class="container-cards-design-1 pt-0">
                      <ul class="list-unstyled p-0 mb-0 ul-cards-design-1">
                          <li class="list-cards-design-1 card-green">
                              <div class="list-inside">

                                  <div class="body-cards-design-1">
                                      <div class="container-Add-New-Research-Step pt-0 pr-0">
                                          <div class="inside-Add-New-Research-Step">
                                              
                                            
                                                      <form #firstForm="ngForm" [formGroup]="firstFormGroup" (ngSubmit)="onFirstFromSubmit()">
                                                         
                                                          
                                                          <div class="section-fields-is-required color-Jade">
                                                              {{ 'Fieldsmarkedwithasteriskaremandatory' |localize }}
                                                          </div>
                                                          <div
                                                              class="container-form-field container-form-fields-section-uploadFile">
                                                              <div
                                                                  class="container-fileUpload-with-fields mb-5 d-flex">
                                                                  <div class="container-fields col">
                                                                     
                                                                      <div
                                                                          class="section-form-field design-form-field-researchAcquisitionAdmin form-field-Type-of-submission">
                                                                          <div class="section-inside">
                                                                              <div
                                                                                  class="text-form-field-researchAcquisitionAdmin text-left color-gray col-sm-2 col-12">
                                                                                  {{ 'identityNumber' |localize }}*
                                                                              </div>
                                                                              <div
                                                                                  class="col container-Engine-information">
                                                                                  <div class="row">
                                                                                      <div
                                                                                          class="col-12 list-Engine-information">
                                                                                          <div
                                                                                              class="section-form-field">
                                                                                              <span
                                                                                                  class="ui-float-label section-clear-input design-float-input">
                                                                                                  <input
                                                                                                      formControlName="name"
                                                                                                      name="name"
                                                                                                      class="float-input floatInput1"
                                                                                                      #title
                                                                                                      type="text"
                                                                                                      size="30"
                                                                                                      pInputText>
                                                                                                  <label
                                                                                                      for="float-input">
                                                                                                      {{ 'identityNumber' |localize }}    
                                                                                                  </label>
                                                                                                  <div class="close-icon icon-left"
                                                                                                      *ngIf="title?.value?.length"
                                                                                                      (click)="clearInput('title')">
                                                                                                      <i
                                                                                                          class="material-icons-outlined">close</i>
                                                                                                  </div>
                                                                                              </span>
                                                                                              <p *ngIf="(firstFormGroup.get('name').errors && firstFormGroup.get('name').errors.required ) && (firstFormGroup.get('name').touched || firstFormSaving)"
                                                                                                  class="pragraphe-bottom-field text-right message-error col-12 m-0">
                                                                                                  {{ 'ThisFieldRequired' |localize }}
                                                                                              </p>
                                                                                          </div>
                                                                                      </div>
                                                                                  </div>
                                                                              </div>
                                                                          </div>
                                                                      </div>


                                                                      <div
                                                                          class="section-form-field design-form-field-researchAcquisitionAdmin form-field-Type-of-submission">
                                                                          <div class="section-inside">
                                                                              <div
                                                                                  class="text-form-field-researchAcquisitionAdmin text-left color-gray col-sm-2 col-12">
                                                                                  {{ 'dateOfBirthGregorian' |localize }}*
                                                                              </div>
                                                                              <div
                                                                                  class="col container-Engine-information">
                                                                                  <div class="row">
                                                                                      <div
                                                                                          class="col-12 list-Engine-information">
                                                                                          <div
                                                                                              class="section-form-field">
                                                                                              <span
                                                                                                  class="ui-float-label section-clear-input design-float-input">
                                                                                                  <input
                                                                                                      formControlName="nameAr"
                                                                                                      name="nameAr"
                                                                                                      class="float-input floatInput1"
                                                                                                      #title
                                                                                                      type="text"
                                                                                                      size="30"
                                                                                                      pInputText>
                                                                                                  <label
                                                                                                      for="float-input">
                                                                                                      {{ 'dateOfBirthGregorian' |localize }}    
                                                                                                  </label>
                                                                                                  <div class="close-icon icon-left"
                                                                                                      *ngIf="title?.value?.length"
                                                                                                      (click)="clearInput('title')">
                                                                                                      <i
                                                                                                          class="material-icons-outlined">close</i>
                                                                                                  </div>
                                                                                              </span>
                                                                                              <p *ngIf="(firstFormGroup.get('nameAr').errors && firstFormGroup.get('nameAr').errors.required ) && (firstFormGroup.get('nameAr').touched || firstFormSaving)"
                                                                                                  class="pragraphe-bottom-field text-right message-error col-12 m-0">
                                                                                                  {{ 'ThisFieldRequired' |localize }}
                                                                                              </p>
                                                                                          </div>
                                                                                      </div>
                                                                                  </div>
                                                                              </div>
                                                                          </div>
                                                                      </div>

                                                                      <div
                                                                      class="section-form-field design-form-field-researchAcquisitionAdmin form-field-Type-of-submission">
                                                                      <div class="section-inside">
                                                                          <div
                                                                              class="text-form-field-researchAcquisitionAdmin text-left color-gray col-sm-2 col-12">
                                                                              {{ 'mobileNumber' |localize }}*
                                                                          </div>
                                                                          <div
                                                                              class="col container-Engine-information">
                                                                              <div class="row">
                                                                                  <div
                                                                                      class="col-12 list-Engine-information">
                                                                                      <div
                                                                                          class="section-form-field">
                                                                                          <span
                                                                                              class="ui-float-label section-clear-input design-float-input">
                                                                                              <input
                                                                                                  formControlName="description"
                                                                                                  name="description"
                                                                                                  class="float-input floatInput1"
                                                                                                  #title
                                                                                                  type="text"
                                                                                                  size="30"
                                                                                                  pInputText>
                                                                                              <label
                                                                                                  for="float-input">
                                                                                                  {{ 'mobileNumber' |localize }}    
                                                                                              </label>
                                                                                              <div class="close-icon icon-left"
                                                                                                  *ngIf="title?.value?.length"
                                                                                                  (click)="clearInput('title')">
                                                                                                  <i
                                                                                                      class="material-icons-outlined">close</i>
                                                                                              </div>
                                                                                          </span>
                                                                                          <p *ngIf="(firstFormGroup.get('description').errors && firstFormGroup.get('description').errors.required ) && (firstFormGroup.get('description').touched || firstFormSaving)"
                                                                                              class="pragraphe-bottom-field text-right message-error col-12 m-0">
                                                                                              {{ 'ThisFieldRequired' |localize }}
                                                                                          </p>
                                                                                      </div>
                                                                                  </div>
                                                                              </div>
                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                                      <div
                                                                          class="section-form-field design-form-field-researchAcquisitionAdmin form-field-Type-of-submission">
                                                                          <div class="section-inside">
                                                                              <div
                                                                                  class="text-form-field-researchAcquisitionAdmin text-left color-gray col-sm-2 col-12">
                                                                                  {{ 'email' |localize }}*
                                                                              </div>
                                                                              <div
                                                                                  class="col container-Engine-information">
                                                                                  <div class="row">
                                                                                      <div
                                                                                          class="col-12 list-Engine-information">
                                                                                          <div
                                                                                              class="section-form-field">
                                                                                              <span
                                                                                                  class="ui-float-label section-clear-input design-float-input">
                                                                                                  <input
                                                                                                      formControlName="descriptionAr"
                                                                                                      name="description"
                                                                                                      class="float-input floatInput1"
                                                                                                      #title
                                                                                                      type="text"
                                                                                                      size="30"
                                                                                                      pInputText>
                                                                                                  <label
                                                                                                      for="float-input">
                                                                                                      {{ 'email' |localize }}    
                                                                                                  </label>
                                                                                                  <div class="close-icon icon-left"
                                                                                                      *ngIf="title?.value?.length"
                                                                                                      (click)="clearInput('title')">
                                                                                                      <i
                                                                                                          class="material-icons-outlined">close</i>
                                                                                                  </div>
                                                                                              </span>
                                                                                              <p *ngIf="(firstFormGroup.get('descriptionAr').errors && firstFormGroup.get('descriptionAr').errors.required ) && (firstFormGroup.get('descriptionAr').touched || firstFormSaving)"
                                                                                                  class="pragraphe-bottom-field text-right message-error col-12 m-0">
                                                                                                  {{ 'ThisFieldRequired' |localize }}
                                                                                              </p>
                                                                                          </div>
                                                                                      </div>
                                                                                  </div>
                                                                              </div>
                                                                          </div>
                                                                      </div>
                                                                      
                                                                     




                                                                  </div>
                                                                  
                                                              </div>
                                                          </div>
                                                          <div class="button-directions">
                                                              <button
                                                                  class="btn border-gray ml-2 color-Jade button-design button-cancel-step-form" (click)="cancel()">{{ 'Cancel' |localize }}</button>
                                                              <button type="submit"
                                                                  class="btn border-gray mr-2 color-white background-color-Jade button-design">{{ 'send' |localize }}</button>
                                                          </div>
                                                      </form>
                                                 
                                          </div>
                                      </div>
                                      <br>
                                  </div>
                              </div>
                          </li>

                      </ul>
                  </div>
              </div>
          </div>

      </div>

  </div>
</div>

