.map{
    margin-bottom: 50px;
    agm-map{
        height: 350px;
    }
}

.container-form-field{
    min-height: 85px;
}
.filterFollow{
    top: 28px;
    border-radius: 50% !important;
    width: 40px;
    height: 40px;
    position: absolute;
}