.icon-delete{
    i{
        font-size: 21px !important;
    }
}
.active{
    background-color: #25c149;
    color: white;
    width: fit-content;
    padding: 3px 10px;
}
.notActive{
    background-color: #ee6c4d;
    color: white;
    width: fit-content;
    padding: 3px 10px;
}