<div class="container-dashboard container-customize-admin">
    <div class="title-page">
        <h2 class="color-Jade">{{ 'ReservationOfferPrice' |localize }}</h2>
    </div>
    <div class="header-admin-body">
        <div class="breadcrumb">
            <p-breadcrumb [model]="items"></p-breadcrumb>
        </div>
    </div>
    <div class="body-dashboard">
        <div class="row row-newReaserch">
            <div class="section-dashboard-right col-lg-12 col-sm-12 col-12">
                <div class="body-section-dashboard-right">
                    <div class="container-cards-design-1 pt-0">
                        <ul class="list-unstyled p-0 mb-0 ul-cards-design-1">
                            <li class="list-cards-design-1 card-green">
                                <div class="list-inside">

                                    <div class="body-cards-design-1">
                                        <div class="container-Add-New-Research-Step pt-0 pr-0">
                                            <div class="inside-Add-New-Research-Step">


                                                <form #firstForm="ngForm">


                                                    <div
                                                        class="container-form-field container-form-fields-section-uploadFile">
                                                        <div class="container-fileUpload-with-fields mb-5 d-flex">
                                                            <div class="container-fields col">

                                                                <div
                                                                    class="section-form-field design-form-field-researchAcquisitionAdmin form-field-Type-of-submission">
                                                                    <div class="section-inside">
                                                                        <div
                                                                            class="text-form-field-researchAcquisitionAdmin text-left color-gray col-sm-2 col-12">
                                                                            {{ 'arrivalDateTime' |localize }}
                                                                        </div>
                                                                        <div class="col container-Engine-information">
                                                                            <div class="row">
                                                                                <div
                                                                                    class="col-12 list-Engine-information">
                                                                                    <div class="section-form-field">
                                                                                        <span
                                                                                            class="ui-float-label section-clear-input design-float-input">
                                                                                            <input disabled
                                                                                                value="{{reservation.arrivalDateTime |date:'short'}}"
                                                                                                name="arrivalDateTime"
                                                                                                class="float-input floatInput1"
                                                                                                #title type="" size="30"
                                                                                                pInputText>
                                                                                        </span>

                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>




                                                                <div
                                                                    class="section-form-field design-form-field-researchAcquisitionAdmin form-field-Type-of-submission">
                                                                    <div class="section-inside">
                                                                        <div
                                                                            class="text-form-field-researchAcquisitionAdmin text-left color-gray col-sm-2 col-12">
                                                                            {{ 'notes' |localize }}
                                                                        </div>
                                                                        <div class="col container-Engine-information">
                                                                            <div class="row">
                                                                                <div
                                                                                    class="col-12 list-Engine-information">
                                                                                    <div class="section-form-field">
                                                                                        <span
                                                                                            class="ui-float-label section-clear-input design-float-input">
                                                                                            <input disabled name="notes"
                                                                                                value="{{reservation.notes}}"
                                                                                                class="float-input floatInput1"
                                                                                                #title type="text"
                                                                                                size="30" pInputText>
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>



                                                                <div style="display: none;"
                                                                    class="section-form-field design-form-field-researchAcquisitionAdmin form-field-Type-of-submission">
                                                                    <div class="section-inside">
                                                                        <div
                                                                            class="text-form-field-researchAcquisitionAdmin text-left color-gray col-sm-2 col-12">
                                                                            {{ 'startingPoint ' |localize }}
                                                                        </div>
                                                                        <div class="col container-Engine-information">
                                                                            <div class="row">
                                                                                <div
                                                                                    class="col-12 list-Engine-information">
                                                                                    <div class="section-form-field">
                                                                                        <span
                                                                                            class="ui-float-label section-clear-input design-float-input">
                                                                                            <input disabled
                                                                                                value="{{reservation.startingPoint }}"
                                                                                                name="startingPoint "
                                                                                                class="float-input floatInput1"
                                                                                                #title type="text"
                                                                                                size="30" pInputText>

                                                                                        </span>
                                                                                        <span class="icon-input-L"
                                                                                            (click)="destinationFram.show()"><img
                                                                                                style="display: block;
                                                                                margin: auto;    position: relative;cursor: pointer;
                                                                                top: 6px;" src="assets/images/GoogleMaps_Button.svg"
                                                                                                alt="" /></span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div
                                                                    class="section-form-field design-form-field-researchAcquisitionAdmin form-field-Type-of-submission">
                                                                    <div class="section-inside">
                                                                        <div
                                                                            class="text-form-field-researchAcquisitionAdmin text-left color-gray col-sm-2 col-12">
                                                                            {{ 'stratingPointTitle' |localize }}
                                                                        </div>
                                                                        <div class="col container-Engine-information">
                                                                            <div class="row">
                                                                                <div
                                                                                    class="col-12 list-Engine-information">
                                                                                    <div class="section-form-field">
                                                                                        <span
                                                                                            class="ui-float-label section-clear-input design-float-input">
                                                                                            <input disabled
                                                                                                value="{{reservation.stratingPointTitle}}"
                                                                                                name="stratingPointTitle"
                                                                                                class="float-input floatInput1"
                                                                                                #title type="text"
                                                                                                size="30" pInputText>

                                                                                        </span>

                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>



                                                                <div
                                                                    class="section-form-field design-form-field-researchAcquisitionAdmin form-field-Type-of-submission">
                                                                    <div class="section-inside">
                                                                        <div
                                                                            class="text-form-field-researchAcquisitionAdmin text-left color-gray col-sm-2 col-12">
                                                                            {{ 'endingPointTitle' |localize }}
                                                                        </div>
                                                                        <div class="col container-Engine-information">
                                                                            <div class="row">
                                                                                <div
                                                                                    class="col-12 list-Engine-information">
                                                                                    <div class="section-form-field">
                                                                                        <span
                                                                                            class="ui-float-label section-clear-input design-float-input">
                                                                                            <input disabled
                                                                                                value="{{reservation.endingPointTitle}}"
                                                                                                name="stratingPointTitle"
                                                                                                class="float-input floatInput1"
                                                                                                #title type="text"
                                                                                                size="30" pInputText>

                                                                                        </span>

                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                                <!-- <div
                                                                    class="section-form-field design-form-field-researchAcquisitionAdmin form-field-Type-of-submission">
                                                                    <div class="section-inside">
                                                                        <div class="col container-Engine-information">
                                                                            <div class="row">
                                                                                <div
                                                                                    class="col-12 list-Engine-information">
                                                                                    <div class="section-form-field">
                                                                                        <span
                                                                                            class="ui-float-label section-clear-input design-float-input">
                                                                                            <agm-map [latitude]="lat"
                                                                                                [longitude]="lng">
                                                                                                <agm-direction
                                                                                                    [origin]="origin"
                                                                                                    [destination]="destination">
                                                                                                </agm-direction>
                                                                                            </agm-map>
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div> -->
                                                                <div
                                                                    class="section-form-field design-form-field-researchAcquisitionAdmin form-field-Type-of-submission">
                                                                    <div class="section-inside">
                                                                        <div
                                                                            class="text-form-field-researchAcquisitionAdmin text-left color-gray col-sm-2 col-12">
                                                                            {{ 'Category' |localize }}
                                                                        </div>
                                                                        <div class="col container-Engine-information">
                                                                            <div class="row">
                                                                                <div
                                                                                    class="col-12 list-Engine-information">
                                                                                    <div class="section-form-field">
                                                                                        <span
                                                                                            class="section-dropdown d-block position-relative">
                                                                                            <p-dropdown
                                                                                                [disabled]="true"
                                                                                                name="categoryId"
                                                                                                [ngClass]="{'dropdown-error': false}"
                                                                                                [options]="subcategories"
                                                                                                class="dropdown-customize w-100"
                                                                                                optionLabel="label">
                                                                                            </p-dropdown>
                                                                                        </span>

                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div
                                                                    class="section-form-field design-form-field-researchAcquisitionAdmin form-field-Type-of-submission">
                                                                    <div class="section-inside">
                                                                        <div
                                                                            class="text-form-field-researchAcquisitionAdmin text-left color-gray col-sm-2 col-12">
                                                                            {{ 'Drivers' |localize }}<span
                                                                                style="color: red;">*</span>
                                                                        </div>
                                                                        <div class="col container-Engine-information">
                                                                            <div class="row">
                                                                                <div
                                                                                    class="col-12 list-Engine-information">
                                                                                    <div class="section-form-field" >
                                                                                        <span
                                                                                            class="section-dropdown d-block position-relative">
                                                                                            <p-dropdown name="driverId"
                                                                                                [(ngModel)]="driverId"
                                                                                                optionLabel="name"
                                                                                                (onChange)="setvalue($event)"
                                                                                                [options]="drivers"
                                                                                                class="dropdown-customize w-100"
                                                                                                optionLabel="label"  r>
                                                                                            </p-dropdown>
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                              
                                                                <div
                                                                    class="section-form-field design-form-field-researchAcquisitionAdmin form-field-Type-of-submission">
                                                                    <div class="section-inside">
                                                                        <div
                                                                            class="text-form-field-researchAcquisitionAdmin text-left color-gray col-sm-2 col-12">
                                                                            {{ 'DeliveryCost' |localize }}<span
                                                                                style="color: red;">*</span>
                                                                        </div>
                                                                        <div class="col container-Engine-information">
                                                                            <div class="row">
                                                                                <div
                                                                                    class="col-12 list-Engine-information">
                                                                                    <div class="section-form-field">
                                                                                        <span
                                                                                            class="ui-float-label section-clear-input design-float-input">
                                                                                            <input name="deliveryCost"
                                                                                                [(ngModel)]="offerPrice.deliveryCost"
                                                                                                class="float-input floatInput1"
                                                                                                #title type="number"
                                                                                                value="" min="0" oninput="validity.valid||(value='');"
                                                                                                size="30" pInputNumber>
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div
                                                                    class="section-form-field design-form-field-researchAcquisitionAdmin form-field-Type-of-submission">
                                                                    <div class="section-inside">
                                                                        <div
                                                                            class="text-form-field-researchAcquisitionAdmin text-left color-gray col-sm-2 col-12">
                                                                            {{ 'AwayFrom' |localize }}<span
                                                                                style="color: red;">*</span>
                                                                        </div>
                                                                        <div class="col container-Engine-information">
                                                                            <div class="row">
                                                                                <div
                                                                                    class="col-12 list-Engine-information">
                                                                                    <div class="section-form-field">
                                                                                        <span
                                                                                            class="ui-float-label section-clear-input design-float-input">
                                                                                            <input name="AwayFrom"
                                                                                                [(ngModel)]="offerPrice.AwayFrom"
                                                                                                class="float-input floatInput1"
                                                                                                #title type="text"
                                                                                                value="" 
                                                                                                size="30" pInputNumber>
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div
                                                                    class="section-form-field design-form-field-researchAcquisitionAdmin form-field-Type-of-submission">
                                                                    <div class="section-inside">
                                                                        <div
                                                                            class="text-form-field-researchAcquisitionAdmin text-left color-gray col-sm-2 col-12">
                                                                            {{ 'DeliveryThroughDays' |localize }}<span
                                                                                style="color: red;">*</span>
                                                                        </div>
                                                                        <div class="col container-Engine-information">
                                                                            <div class="row">
                                                                                <div
                                                                                    class="col-12 list-Engine-information">
                                                                                    <div class="section-form-field">
                                                                                        <span
                                                                                            class="ui-float-label section-clear-input design-float-input">
                                                                                            <input
                                                                                                name="DeliveryThroughDays"
                                                                                                [(ngModel)]="offerPrice.DeliveryThroughDays"
                                                                                                class="float-input floatInput1"
                                                                                                #title type="number"
                                                                                                value="" min="1"
                                                                                                size="30" pInputNumber>
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div
                                                                    class="section-form-field design-form-field-researchAcquisitionAdmin form-field-Type-of-submission">
                                                                    <div class="section-inside">
                                                                        <div
                                                                            class="text-form-field-researchAcquisitionAdmin text-left color-gray col-sm-2 col-12">
                                                                            {{ 'DeliveryThroughHours' |localize }}
                                                                        </div>
                                                                        <div class="col container-Engine-information">
                                                                            <div class="row">
                                                                                <div
                                                                                    class="col-12 list-Engine-information">
                                                                                    <div class="section-form-field">
                                                                                        <span
                                                                                            class="ui-float-label section-clear-input design-float-input">
                                                                                            <input
                                                                                                name="DeliveryThroughHours"
                                                                                                [(ngModel)]="dilevryhr"
                                                                                                class="float-input floatInput1"
                                                                                                #title type="number" 
                                                                                                min="0"  oninput="validity.valid||(value='');"
                                                                                                pInputNumber >
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div
                                                                class="section-form-field design-form-field-researchAcquisitionAdmin form-field-Type-of-submission">
                                                                <div class="section-inside">
                                                                    <div
                                                                        class="text-form-field-researchAcquisitionAdmin text-left color-gray col-sm-2 col-12">
                                                                        {{ 'DeliveryThroughMinutes' |localize }}
                                                                    </div>
                                                                    <div class="col container-Engine-information">
                                                                        <div class="row">
                                                                            <div
                                                                                class="col-12 list-Engine-information">
                                                                                <div class="section-form-field">
                                                                                    <span
                                                                                        class="ui-float-label section-clear-input design-float-input">
                                                                                        <input
                                                                                            name="DeliveryThroughMinutes"
                                                                                            [(ngModel)]="dilevrymn"
                                                                                            class="float-input floatInput1"
                                                                                            #title type="number"
                                                                                            min="0" oninput="validity.valid||(value='');"
                                                                                            pInputNumber>
                                                                                    </span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div
                                                            class="section-form-field design-form-field-researchAcquisitionAdmin form-field-Type-of-submission">
                                                            <div class="section-inside">
                                                                <div
                                                                    class="text-form-field-researchAcquisitionAdmin text-left color-gray col-sm-2 col-12">
                                                                    {{ 'DeliveryThroughSeconds' |localize }}
                                                                </div>
                                                                <div class="col container-Engine-information">
                                                                    <div class="row">
                                                                        <div
                                                                            class="col-12 list-Engine-information">
                                                                            <div class="section-form-field">
                                                                                <span
                                                                                    class="ui-float-label section-clear-input design-float-input">
                                                                                    <input
                                                                                        name="DeliveryThroughSeconds"
                                                                                        [(ngModel)]="dilevrysc"
                                                                                        class="float-input floatInput1"
                                                                                        #title type="number"
                                                                                        min="0" oninput="validity.valid||(value='');"
                                                                                        pInputNumber>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="button-directions">
                                                        
                                                        <button class="btn border-gray ml-2 color-Jade button-design button-cancel-step-form" (click)="back()">{{ 'Cancel' |localize }}</button>
                                                        <button type="button" (click)="AddOfferPrice()"
                                                            [disabled]="driverId==0 ||offerPrice.deliveryCost ==0  || offerPrice.deliveryCost==undefined"
                                                            class="btn border-gray mr-2 color-white background-color-Jade button-design">{{
                                                            'Send' |localize }}</button>
                                                    </div>
                                                </form>

                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>