<!-- <div class="container-dashboard container-customize-admin">
    <div class="title-page">
        <h2 class="color-Jade">اللوحة الرئيسية</h2>
    </div>
    <div class="header-admin-body">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">اللوحة الرئيسية</li>
            </ol>
        </nav>
        <div class="button-add-vehicles">
            <a href="#">
                <span class="material-icons-outlined middel"> add </span> أضف مركبة
            </a>
        </div>
    </div>
    <div class="body-dashboard">
        <div class="row row-newReaserch">
            <div class="section-dashboard-right col-lg-3 col-sm-12 col-12">
                <div class="body-section-dashboard-right card no-border">
                    <div class="background-color-blue main-head">
                        <h2><span class="material-icons middel"> description </span> اوامر العمل</h2>
                        <span class="material-icons-outlined middel left"> keyboard_arrow_left </span>
                    </div>
                    <div class="background-color-blue main-body">
                        <div class="first-section color-blue">
                            <div class="number"> 300 </div>
                            <h3> امر العمل </h3>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="sacend-section">
                            <small>تفاصيل اوامر العمل</small>
                            <div class="items">
                                <span class="circel background-color-blue"></span> ١٥٠ تم المعالجه
                            </div>
                            <div class="items">
                                <span class="circel background-color-baby-blue-with-border"></span> ١٠٠ معلق
                            </div>
                            <div class="items">
                                <span class="circel background-color-baby-red-with-border"></span> ٥٠ متاخر
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body-section-dashboard-right card no-border">
                    <div class="background-color-yellow main-head">
                        <h2><span class="material-icons middel"> notifications </span> التنبيهات</h2>
                        <span class="material-icons-outlined middel left"> keyboard_arrow_left </span>
                    </div>
                    <div class="background-color-blue main-body">
                        <div class="first-section color-yellow">
                            <div class="number"> 300 </div>
                            <h3> تنبيه </h3>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="sacend-section">
                            <small>تفاصيل التنبيهات</small>
                            <div class="items">
                                <span class="circel background-color-baby-yellow-with-border"></span> ١٠٠ صيانة دورية
                                <p class="small-text">
                                    <span class="color-green">٣٠٠ مستحق</span>
                                    <span class="stats color-red">٢٠ متاخر</span>
                                </p>
                            </div>
                            <div class="items">
                                <span class="circel background-color-baby-yellow-with-border"></span> ١٥٠ انتهاء الصلاحية
                                <p class="small-text">
                                    <span class="color-green">٣٠٠ مستحق</span>
                                    <span class="stats color-red">٢٠ متاخر</span>
                                </p>
                            </div>
                            <div class="items">
                                <span class="circel background-color-baby-yellow-with-border"></span> ٥٠ الفحص والتفتيش
                                <p class="small-text">
                                    <span class="color-green">٣٠٠ مستحق</span>
                                    <span class="stats color-red">٢٠ متاخر</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body-section-dashboard-right card no-border">
                    <div class="background-color-gray main-head">
                        <h2><span class="material-icons middel"> warning </span> مشكلات المركبات</h2>
                        <span class="material-icons-outlined middel left"> keyboard_arrow_left </span>
                    </div>
                    <div class="background-color-gray main-body">
                        <div class="first-section color-gray">
                            <div class="number"> 500 </div>
                            <h3> مشكلة </h3>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="sacend-section">
                            <small>تفاصيل مشكلات المركبات</small>
                            <div class="items">
                                <span class="circel background-color-gray-with-border"></span> ٤٠٠ تم المعالجه
                            </div>
                            <div class="items">
                                <span class="circel background-color-baby-gray-with-border"></span> ١٠٠ معلق
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-dashboard-right col-lg-9 col-sm-12 col-12">
                <div class="body-section-dashboard-right card no-border">
                    <div class="background-color-green main-head">
                        <h2><span class="material-icons middel"> commute </span> مركباتي</h2>
                        <span class="material-icons-outlined middel left"> keyboard_arrow_left </span>
                    </div>
                    <div class="background-color-green main-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-12">
                                <div class="media border-left">
                                    <img class="d-flex" src="../../assets/images/img1.jpg" alt="">
                                    <div class="media-body">
                                        <h5 class="mt-0"> الشركة المصنعة <span>شوفرليت لوري</span> </h5>
                                        <h5 class="mt-0"> الموديل <span> نيسان </span> </h5>
                                        <h5 class="mt-0"> رقم اللوحة <span> 60320 ن </span> </h5>
                                        <h5 class="mt-0"> اسم السائق <span> على قاسم كريم </span> </h5>
                                        <h5 class="mt-0"> المجموعه <span> بغداد </span> </h5>
                                        <h5 class="mt-0"> الحالة نشط </h5>
                                        <div class="name-ChairmanoftheCommittee section-notifications color-Warm-black">
                                            <div class="alert-event alert-td">
                                                <span class="number-alert-td">50</span>
                                                <span class="material-icons icon-alert">
                                                     event
                                                </span>
                                            </div>
                                            <div class="alert-notifications alert-td">
                                                <span class="number-alert-td">20</span>
                                                <span class="material-icons icon-alert">
                                                notifications
                                            </span>
                                            </div>
                                            <div class="alert-build alert-td">
                                                <span class="number-alert-td">3</span>
                                                <span class="material-icons icon-alert">build</span>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-12">
                                <div class="media">
                                    <img class="d-flex" src="../../assets/images/img2.jpg" alt="">
                                    <div class="media-body">
                                        <h5 class="mt-0"> الشركة المصنعة <span>شوفرليت لوري</span> </h5>
                                        <h5 class="mt-0"> الموديل <span> نيسان </span> </h5>
                                        <h5 class="mt-0"> رقم اللوحة <span> 60320 ن </span> </h5>
                                        <h5 class="mt-0"> اسم السائق <span> على قاسم كريم </span> </h5>
                                        <h5 class="mt-0"> المجموعه <span> بغداد </span> </h5>
                                        <h5 class="mt-0"> الحالة نشط </h5>
                                        <div class="name-ChairmanoftheCommittee section-notifications color-Warm-black">
                                            <div class="alert-event alert-td">
                                                <span class="number-alert-td">50</span>
                                                <span class="material-icons icon-alert">
                                                     event
                                                </span>
                                            </div>
                                            <div class="alert-notifications alert-td">
                                                <span class="number-alert-td">20</span>
                                                <span class="material-icons icon-alert">
                                                    notifications
                                                </span>
                                            </div>
                                            <div class="alert-build alert-td">
                                                <span class="number-alert-td">3</span>
                                                <span class="material-icons icon-alert">build</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body-section-dashboard-right card no-border">
                    <div class="background-color-Jade main-head">
                        <h2><span class="material-icons middel"> money </span> مصروفاتي</h2>
                        <span class="material-icons-outlined middel left"> keyboard_arrow_left </span>
                    </div>
                    <div class="main-body">
                        <div class="chart-header">
                            <div class="row">
                                <div class="col-lg-4 col-12">
                                    <div class="chart-header-block">
                                        <ul class="list-unstyled">
                                            <li>
                                                <span class="material-icons-outlined middel background-color-blue"> local_gas_station </span> الوقود
                                            </li>
                                            <li>
                                                <span class="number"> 100000 </span> دينار
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-12">
                                    <div class="chart-header-block">
                                        <ul class="list-unstyled">
                                            <li>
                                                <span class="material-icons-outlined middel background-color-yellow"> description </span> اوامر العمل
                                            </li>
                                            <li>
                                                <span class="number"> 300000 </span> دينار
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-12">
                                    <div class="chart-header-block">
                                        <ul class="list-unstyled">
                                            <li>
                                                <span class="material-icons-outlined middel background-color-green"> local_atm </span> تكاليف إضافية
                                            </li>
                                            <li>
                                                <span class="number"> 500000 </span> دينار
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="chart-links">
                                <ul class="list-unstyled">
                                    <li><a href="#"> يوم </a></li>
                                    <li><a href="#"> شهر </a></li>
                                    <li><a href="#"> 3 شهور </a></li>
                                    <li><a href="#"> بداية السنه </a></li>
                                    <li><a class="active" href="#"> سنه </a></li>
                                    <li><a href="#"> الكل </a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->